@media only screen and (min-width: 62rem) and (max-width: 74.9375rem) {

  /* L */
  .home,
  .contact,
  .foods,
  .dropdown-toggle {
    padding: 1.3rem 2.4rem;
    font-size: .8rem;
  }

  .logo-area p {
    font-size: 1.7rem;
  }

  .side-menu-button img {
    width: 2.375rem;
    min-width: 2.375rem;
    max-width: 2.375rem;
    height: 2.375rem;
    min-height: 2.375rem;
    max-height: 2.375rem;
  }

  .side-menu {
    width: 14rem;
    padding: 6.875rem 0 0 0;
  }

  .side-menu ul li a {
    font-size: .8rem;
  }

  .side-menu li {
    padding: 2.5rem 1.5rem;
  }

  .dropdown-menu {
    width: 9.9rem;
    margin: 1.4rem 0 0 -2.4rem;
    font-size: .8rem;
  }

  .banner-img {
    margin: 4rem 0 6rem 0;
  }

  .dropdown-menu li a {
    padding: 1.2rem 0;
  }

  .food-menu h3 {
    font-size: 1.3rem;
  }

  #first-h3 {
    text-align: left;
    padding-left: 12rem;
  }

  #second-h3 {
    text-align: right;
    padding-right: 12rem;
  }

  .food-menu {
    position: relative;
    width: calc(100% - 20rem);
    min-width: calc(100% - 20rem);
    max-width: calc(100% - 20rem);
    border-radius: 1rem;
    padding: 5rem 0;
    margin: 2rem 0;
  }

  .food-menu h1 {
    font-size: 2.7rem;
    text-align: center;
    margin: 1.8rem 0;
  }

  .food-menu-area {
    position: relative;
    width: 85%;
    border-radius: 1rem;
    padding: 2.5rem .8rem;
  }

  .food-menu-area nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .food-menu-area nav ul li {
    padding: 1.5rem;
  }

  .healthy-food-menu img {
    display: block;
    width: 13.75rem;
    height: 13.75rem;
  }

  .food-menu-items img {
    display: block;
    width: 11.25rem;
    height: 11.25rem;
  }

  .food-name,
  .food-price {
    font-size: .875rem;
    margin: 4rem 0 0 0;
  }

  .menus {
    position: relative;
    width: calc(100% - .9375rem);
    min-width: calc(100% - .9375rem);
    max-width: calc(100% - .9375rem);
    margin: 4rem auto;
    padding: 5rem 0;
    border-radius: 1rem;
  }

  .menus nav ul a {
    margin: 0 1rem;
  }

  .menus-menu-name {
    font-size: 1.2rem;
    padding: .8rem 0;
  }

  .about-us {
    position: relative;
    width: 50%;
    margin: 5rem 0;
    padding: 2rem;
  }

  .about-us h1 {
    margin: 6rem 0 3rem 0;
    font-size: 1.25rem;
  }

  .about-us p {
    margin: 3rem 0 6rem 0;
    font-size: .75rem;
  }

  #about-us figure {
    display: flex;
    justify-content: end;
    position: absolute;
    z-index: -1;
  }

  #about-us figure img {
    position: relative;
  }

  #contact {
    margin: 3rem 0 0 0;
  }

  #contact h1 {
    margin: 3.5rem 0 2.5rem 0;
    font-size: 1.25rem;
  }

  .quick-links li {
    margin: 2rem 0;
    font-size: .875rem;
  }

  .contact-us h3 {
    font-size: 1rem;
  }

  .contact-us li {
    margin: .5rem 0;
  }

  .contact-us img {
    width: 1.6rem;
    height: 1.6rem;
  }

  .contact-us li address,
  .contact-us li p {
    margin: 1.2rem 0;
    font-size: .875rem;
  }

  .follow-us img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 .8rem 0 0;
  }

  .payment-options {
    margin: 1.8rem 0;
    font-size: .875rem;
  }

  .payment-options h4 {
    margin: 0 0 .8rem 0;
  }

  .payment-options img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 .8rem 0 0;
  }

  .copyright p {
    font-size: .875rem;
  }

  /* Dairy, Grains, Proteins, Vegetables, Fruits */

  #dairy-products-section,
  #grains-products-section,
  #proteins-products-section,
  #vegetables-products-section,
  #fruits-products-section {
    position: relative;
  }

  .dairy-products-border-area,
  .grains-products-border-area,
  .proteins-products-border-area,
  .vegetables-products-border-area,
  .fruits-products-border-area {
    width: calc(100% - 15rem);
    min-width: calc(100% - 15rem);
    max-width: calc(100% - 15rem);
  }

  .dairy-products-area,
  .grains-products-area,
  .proteins-products-area,
  .vegetables-products-area,
  .fruits-products-area {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 4rem;
  }

  .dairy-products,
  .grains-products,
  .proteins-products,
  .vegetables-products,
  .fruits-products {
    position: relative;
  }

  .dairy-products h1,
  .grains-products h1,
  .proteins-products h1,
  .vegetables-products h1,
  .fruits-products h1 {
    font-size: 1rem;
    margin: 1.5rem;
  }

  .dairy-products p,
  .grains-products p,
  .proteins-products p,
  .vegetables-products p,
  .fruits-products p {
    font-size: .75rem;
    margin: 1.5rem;
  }

  .vitamin-mineral-details-border {
    position: relative;
    margin: 4rem 0 6rem 0;
  }

  .vitamin-mineral-list-area {
    width: calc(100% - 15rem);
    min-width: calc(100% - 15rem);
    max-width: calc(100% - 15rem);
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    padding: 4rem 2.5rem;
    gap: 3rem
  }

  .vitamin-mineral-list {
    position: relative;
  }

  #vitamin-mineral-list-title {
    width: calc(100% - 15rem);
    min-width: calc(100% - 15rem);
    max-width: calc(100% - 15rem);
    padding: 2.5rem 2.5rem .6rem 2.5rem;
    font-size: 1.875rem;
  }

  .vitamin-mineral-list:last-child {
    grid-column: 1 / 4;
  }

  .vitamin-mineral-list h1,
  .vitamin-mineral-list h3,
  .vitamin-mineral-list p {
    margin: 1rem;
  }

  .vitamin-mineral-list h1 {
    font-size: 1.125rem;
  }

  .vitamin-mineral-list h3 {
    font-size: .875rem;
  }

  .vitamin-mineral-list p {
    font-size: .875rem;
  }
}
