@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {

  /* M */
  .home,
  .contact,
  .foods,
  .dropdown-toggle {
    padding: 1.1rem 1.8rem;
    font-size: .7rem;
  }

  .logo-area p {
    font-size: 1.4rem;
  }

  .side-menu-button img {
    width: 1.75rem;
    min-width: 1.75rem;
    max-width: 1.75rem;
    height: 1.75rem;
    min-height: 1.75rem;
    max-height: 1.75rem;
  }

  .side-menu {
    width: 12rem;
    padding: 4.375rem 0 0 0;
  }

  .side-menu ul li a {
    font-size: .7rem;
  }

  .side-menu li {
    padding: 2rem 1rem;
  }

  .dropdown-menu {
    width: 8.1rem;
    margin: 1.1rem 0 0 -1.8rem;
    font-size: .7rem;
  }

  .banner-img {
    margin: 3rem 0 5rem 0;
  }

  .dropdown-menu li a {
    padding: 1.1rem 0;
  }

  .food-menu h3 {
    font-size: 1.1rem;
  }

  #first-h3 {
    text-align: left;
    padding-left: 10rem;
  }

  #second-h3 {
    text-align: right;
    padding-right: 10rem;
  }

  .food-menu {
    position: relative;
    width: calc(100% - 10rem);
    min-width: calc(100% - 10rem);
    max-width: calc(100% - 10rem);
    border-radius: 1rem;
    padding: 3rem 0;
    margin: 1rem 0;
  }

  .food-menu h1 {
    font-size: 2.4rem;
    text-align: center;
    margin: 1.6rem 0;
  }

  .food-menu-area {
    position: relative;
    width: 90%;
    border-radius: 1rem;
    padding: 2rem .6rem;
  }

  .food-menu-area nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .food-menu-area nav ul li {
    padding: 1rem;
  }

  .healthy-food-menu img {
    display: block;
    width: 11.875rem;
    height: 11.875rem;
  }

  .food-menu-items img {
    display: block;
    width: 10rem;
    height: 10rem;
  }

  .food-name,
  .food-price {
    font-size: .75rem;
    margin: 3rem 0 0 0;
  }

  .menus {
    position: relative;
    width: calc(100% - .625rem);
    min-width: calc(100% - .625rem);
    max-width: calc(100% - .625rem);
    margin: 3rem auto;
    padding: 4rem 0;
    border-radius: 1rem;
  }

  .menus nav ul a {
    margin: 0 .5rem;
  }

  .menus-menu-name {
    font-size: .9rem;
    padding: .6rem 0;
  }

  .about-us {
    position: relative;
    width: 50%;
    margin: 3rem 0;
    padding: 1rem;
  }

  .about-us h1 {
    margin: 4rem 0 2rem 0;
    font-size: 1rem;
  }

  .about-us p {
    margin: 2rem 0 4rem 0;
    font-size: .625rem;
  }

  #about-us figure {
    display: flex;
    justify-content: end;
    position: absolute;
    z-index: -1;
  }

  #about-us figure img {
    position: relative;
  }

  #contact {
    margin: 2.5rem 0 0 0;
  }

  #contact h1 {
    margin: 3rem 0 2rem 0;
    font-size: 1rem;
  }

  .quick-links li {
    margin: 1.5rem 0;
    font-size: .75rem;
  }

  .contact-us h3 {
    font-size: .75rem;
  }

  .contact-us li {
    margin: .4rem 0;
  }

  .contact-us img {
    width: 1.2rem;
    height: 1.2rem;
  }

  .contact-us li address,
  .contact-us li p {
    margin: .9rem 0;
    font-size: .75rem;
  }

  .follow-us img {
    width: 2rem;
    height: 2rem;
    margin: 0 .6rem 0 0;
  }

  .payment-options {
    margin: 1.6rem 0;
    font-size: .75rem;
  }

  .payment-options h4 {
    margin: 0 0 .6rem 0;
  }

  .payment-options img {
    width: 2rem;
    height: 2rem;
    margin: 0 .6rem 0 0;
  }

  .copyright p {
    font-size: .625rem;
  }

  /* Dairy, Grains, Proteins, Vegetables, Fruits */

  #dairy-products-section,
  #grains-products-section,
  #proteins-products-section,
  #vegetables-products-section,
  #fruits-products-section {
    position: relative;
  }

  .dairy-products-border-area,
  .grains-products-border-area,
  .proteins-products-border-area,
  .vegetables-products-border-area,
  .fruits-products-border-area {
    width: calc(100% - 10rem);
    min-width: calc(100% - 10rem);
    max-width: calc(100% - 10rem);
  }

  .dairy-products-area,
  .grains-products-area,
  .proteins-products-area,
  .vegetables-products-area,
  .fruits-products-area {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 3rem;
  }

  .dairy-products,
  .grains-products,
  .proteins-products,
  .vegetables-products,
  .fruits-products {
    position: relative;
  }

  .dairy-products h1,
  .grains-products h1,
  .proteins-products h1,
  .vegetables-products h1,
  .fruits-products h1 {
    font-size: .875rem;
    margin: 1rem;
  }

  .dairy-products p,
  .grains-products p,
  .proteins-products p,
  .vegetables-products p,
  .fruits-products p {
    font-size: .625rem;
    margin: 1rem;
  }

  .vitamin-mineral-details-border {
    position: relative;
    margin: 3rem 0 5rem 0;
  }

  .vitamin-mineral-list-area {
    width: calc(100% - 10rem);
    min-width: calc(100% - 10rem);
    max-width: calc(100% - 10rem);
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    padding: 3rem 2rem;
    gap: 2rem
  }

  .vitamin-mineral-list {
    position: relative;
  }

  #vitamin-mineral-list-title {
    width: calc(100% - 10rem);
    min-width: calc(100% - 10rem);
    max-width: calc(100% - 10rem);
    padding: 2rem 2rem .7rem 2rem;
    font-size: 1.25rem;
  }

  .vitamin-mineral-list:last-child {
    grid-column: 1 / 4;
  }

  .vitamin-mineral-list h1,
  .vitamin-mineral-list h3,
  .vitamin-mineral-list p {
    margin: 1rem;
  }

  .vitamin-mineral-list h1 {
    font-size: .875rem;
  }

  .vitamin-mineral-list h3 {
    font-size: .75rem;
  }

  .vitamin-mineral-list p {
    font-size: .75rem;
  }
}
